/******** TAILWIND DIRECTIVES ********/
@tailwind base;
@tailwind components;
@tailwind utilities;

/******** GENERAL VARIABLES ********/
$primary-yellow: #D48F39;
$secondary-black: #1C1C1C;
$tertiary-grey: #303030;